* {
    border: 1px solid black;
}

body {
    overflow: auto; 
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    background-color: rgb(6, 4, 32);
    color: white;
}

header {
    float: left;
    width: 25%;
    height: 100%;
    position: fixed;
    background-position: right;
    background-size: cover;
    background-image: url(../images/bg5.jpg);
    text-align: right;
    overflow: hidden;
    border-right: solid 10px rgb(51, 94, 148);
    transition: border-right-color .5s ease;
}

header:hover {
    border-right-color: rgb(58, 186, 245);
}

nav{
    float: left;
    height: 2em;
    width: 75%;
    margin-left: 27%;

}

footer {
    position: fixed;
    bottom: 0;
    width: 25%;
    height: 25%;
    text-align: left;
}

main{
    width: 75%;
    margin-left: 27%;
    height: 80%;
    float: left;
}

#avatar {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#avatar img{
    width: 13em;
    margin-top: 25%;
    border-radius: 50%;
    transition: width .5s ease, border .5s ease;
    border:  rgb(51, 94, 148) 10px solid;
    
}

header:hover #avatar img{
    width: 16em;
    border: rgb(58, 186, 245) 10px solid;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    height: 20%;
    overflow: hidden;
    text-align: center;
    font-style: oblique;
    line-height: 2em;   
}

#main_name{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-variant: small-caps;
    transition: color 1s ease;
    
}

header:hover #main_name{
    color: rgb(58, 186, 245);
}

#profession {
    display: inline-block;
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: height 1s ease;
    line-height: 18px;
}

header:hover #profession {
    transition-delay: .3s;
    height: 60px;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    
}

footer li i{
    color: white;
    transition: color .5s ease;
}

footer li:hover i{
    color:rgb(58, 186, 245);
}

.name_in{
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    /* padding-left: 5px; */
    height: 25px;
    /* padding-bottom: 10px; */
    width: 0;
    transition: width .5s ease;
}

footer ul li:hover .name_in {
    width: 60%;
}

footer ul li{
    text-align: center;
    box-sizing: border-box;
}