body{
    background-image: url(Images/sands.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right up;
    font-family: times new roman;
    color: white;
    margin: 0;
    text-align: center;
}

#cab{
    background-image: url(../Images/prince.jpg);
    height: 400px;
    background-position: center center;
    background-size: 1000px;
    text-align: center;
    color: #279df4;
    box-shadow: 4px 4px 6px black;
    border-top: 2px solid transparent; 
}


#cab h1{
    padding-top: 280px;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 50px;
    text-decoration-color: white;
    font-variant: small-caps;
    text-shadow: 3px 3px 5px black;
}
 
main{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.47);
    box-shadow: 3px 3px 5px black;
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    width: 70%;
    height: 2000px;
    
}

#rodape{
    background-color: rgba(0,0,0,0.5);
    background-position: center center;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
}

#mainav li{
    display: inline-block;
    padding-top: 8px;
    margin: 0px 10px;
    letter-spacing: 2px;
    font-variant: small-caps;
}

#mainav a:link{
    background-color: white;
    padding: 10px;
    color: black;
    border: 2px solid black;
    text-decoration-line: none;
}

#mainav a:hover{
    color: white;
    background-color: crimson;
    /* transition: color 0.3s linear */
}

#mainav {
    background: rgba(17, 48, 116, 0.54);
    height: 70px;
    padding-top: 0.1px;
    text-align: center;
    border: 2px solid black;
}

#main_art div{
    height: 0;
    overflow: auto;
    transition: height .5s;
    /* display: none; */
}

#main_art:hover div{
    /* display: block; */
    height: 100px;
}

#main_art h2{
    transition: color .5s;
}

#main_art:hover h2{
    color: rgb(16, 89, 172);

}
/*display: block; transforma elemento em comportamento de bloco
inline-block é interessante
none remove o conteúdo
invisibillity é a capa do HP
box-sizing: border-box; adiciona o padding sem alterar o tamanho total
asterisco pega todos elementos*/