@charset "UTF-8";

* {
    border: solid black 1px;
}

.main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 900px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.main-div__div {
    height: 300px;
    flex-basis: 300px;
    background-color: orange;
}

.main-div__div:nth-child(3) {
    background-color: blue;
    flex: 1 1 200px;