body{
    background-image: url(Images/sands.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right up;
    font-family: times new roman;
    color: white;
    margin: 0;
    text-align: center;
}

#cab{
    background-image: url(../Images/prince.jpg);
    height: 400px;
    background-position: center center;
    background-size: 1000px;
    text-align: center;
    color: #279df4;
    box-shadow: 4px 4px 6px black;
    border-top: 2px solid transparent; 
    transition: color 0.5s;
}

#cab:hover {
    color: white;
}


#cab h1{
    padding-top: 280px;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 50px;
    text-decoration-color: white;
    font-variant: small-caps;
    text-shadow: 3px 3px 5px black;
}
 
main{
    display: inline-block;
    background-color: rgba(119, 113, 113, 0.47);
    box-shadow: 3px 3px 5px black;
    padding: 20px;
    text-align: center;
    border: 3px solid rgb(78, 75, 75);
    width: 70%;
    height: 2000px;
    
}

#rodape{
    background-color: rgba(0,0,0,0.5);
    background-position: center center;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
}

#mainav li{
    display: inline-block;
    padding-top: 8px;
    margin: 0px 10px;
    letter-spacing: 2px;
    font-variant: small-caps;
}

#mainav a:link{
    background-color: rgb(150, 144, 144);
    padding: 10px;
    color: black;
    border: 2px solid black;
    text-decoration-line: none;
}

#mainav a:hover{
    color: white;
    background-color: crimson;
    /* transition: color 0.3s linear */
}

#mainav {
    background: rgba(17, 48, 116, 0.54);
    height: 70px;
    padding-top: 0.1px;
    text-align: center;
    border: 2px solid black;
}


#main_art div{
    height: 100px;
}

/*
#main_art:hover div{
    display: block;
    height: 100px;
}

*/

#main_art h2{
    transition: color .5s;
}

#main_art:hover h2{
    color: rgb(16, 89, 172);

}

.chars{
    text-align: center;
    background-color: rgba(105, 105, 117, 0.562);
    box-shadow: 3px 4px 2px black;
    /* transition: background-color .5s; */
    height: 35px;
    overflow: auto;
    transition: height .5s, 
                box-shadow 1s,
                background-color .5s;
}

.chars:hover {
    background-color: rgba(214, 62, 93, 0.63);
    height: 200px;
    box-shadow: 5px 6px 4px crimson;
}

.chars tbody td{
    border: solid 2px black;
    text-align: center;
    padding: 10px;
}

.chars table{
    border-collapse: collapse;
    width: 80%;
    margin: auto; /*<<<<<<<<<, centraliza */
}

.chars thead td{
    border: solid 2px black;
    background-color: rgb(163, 10, 40);
    padding: 10px;

}

.chars caption{
    padding: 10px 0px;
}

#form_down{
    padding: 20px 0 0 0;
    
}

input{
    background-color: rgba(59, 59, 240, 0.534);
    transition: background-color .5s linear;
}

input:hover{
    background-color: crimson;
}

#pass_label {
  padding-right: 25px;
}

#form_login fieldset{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

#form_login input{
    margin: 10px;
}

#form_login fieldset legend{
    margin-bottom: 10px;
}

/*display: block; transforma elemento em comportamento de bloco
inline-block é interessante
none remove o conteúdo
invisibillity é a capa do HP
box-sizing: border-box; adiciona o padding sem alterar o tamanho total
asterisco pega todos elementos*/